<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{framework/layout/layout}">
<head>
    <title>홈페이지222</title>
</head>


<body>

    
    <div layout:fragment="content">
    <!-- uploadFrag.html을 포함 -->
    <div th:replace="framework/file/uploadFrag :: fragment"></div>


    <script>
            loadUploadForm('refId123', 'docId456', '50M', 'uploadFormContainer');
    </script>

    
    <div id="uploadFormContainer"></div>
        <h2>홈 페이지</h2>
        <!-- 여기에서 requestURI 사용 -->
        <p>현재 요청 URI: <span th:text="${requestURI}"></span></p>
        
</div>
    </div>
</body>
</html>
